.jumbotron.supercool {
    background-color: rgb(195, 174, 214);
}
.boring-btn {
    margin: 2em 0 0 0
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.walrus-showing {
    display: none;
}
